#priceHeading{
    display: flex;
    justify-content: end;
    margin-right:10px
}
hr{
    position: relative;
    top: -10px;
}

#priceContainer{
    position: absolute;
    top: 12px;
    right: 10px;
}
#totalPriceContainer{
    flex-grow: 1;
    max-height:250px;
}